export IMGBB_API_KEY='123456'
export TELEGRAM_BOT_TOKEN='13456'
export TELEGRAM_CHAT_ID='123456'

export TWITTER_CONSUMER_KEY="123456"
export TWITTER_CONSUMER_SECRET="123456"
export TWITTER_ACCESS_TOKEN_KEY="123456"
export TWITTER_ACCESS_TOKEN_SECRET="123456"
